/*------ Normalise CSS ------*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ce{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*------ fonts ------*/
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Bold.woff2') format('woff2'),
        url('../fonts/DMSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Italic.woff2') format('woff2'),
        url('../fonts/DMSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-BoldItalic.woff2') format('woff2'),
        url('DMSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Medium.woff2') format('woff2'),
        url('../fonts/DMSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-MediumItalic.woff2') format('woff2'),
        url('../fonts/DMSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Regular.woff2') format('woff2'),
        url('../fonts/DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*------ Main CSS ------*/

body {
    font-family: 'Bebas Neue';
    font-size: 16px;
    width: 100%;
    height: 100vh;
    float: left;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
html {
  scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
a, a:hover{
    text-decoration: none;
    color: inherit;
}
input:focus, textarea:focus, select:focus, button:focus{
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
ul {
    list-style: none;
}
p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
h6, button {
	font-size: 1.25rem;
	font-weight: 100;
}
.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    padding: 100px 90px;
    padding-bottom: 0px;
}
.homePage {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
}
.mpTag , .mpBanner {
    font-family: DM sans-serif;
}
.mpBanner {
    max-width: 750px;
    float: right;
}
.mpBanner figure {
    margin-bottom: 50px;
}
.mpBanner p {
    font-size: 1.5rem;
}
.mpHeaderpanel {
    width: 100%;
    float: left;
    position: relative;
}
.mpSubheads {
    float: right;
    width: 100%;
    max-width: 750px;
}
.mpLink {
    margin: 30px 0px;
    font-size: 7.5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #21244a;
    transition: 2s linear;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-width: 0.001px;
    -webkit-text-stroke-color: #21244a;
}
.mpLink:hover {
    color: #21244a;
    -webkit-text-fill-color: #21244a;
    -webkit-text-stroke-width: 0px;
    transition: 2s linear;
}
.mpMainhead {
    top: -335px;
    position: absolute;
    width: 100%;
    max-width: 415px;
    color: #21244a;
    left: 30px;
    transition: 0.5s linear ease-out;
}
.mpMainhead.animate {
    transform: translateY(200px);
    transition: 0.5s linear;
}
.mpMainhead h3 {
    font-size: 3.25rem;
}
.mpMainhead h1 {
    font-size: 7.5rem;
    text-align: right;
    line-height: 96px;
}
.mpTag {
    float: left;
    width: auto;
    position: relative;
    margin-left: 30px;
}
.mpTag__oval {
    float: left;
    width: 29px;
    height: 49px;
    border: 1px solid #A2A2BD;
    box-sizing: border-box;
    border-radius: 19px;
    margin-right: 23px;
}
.mpTag__text {
    font-size: 1.16rem;
    width: auto;
    min-width: 200px;
    position: absolute;
    left: 46px;
    top: 0px;
    transition: 0.2s linear in;
}
.mpTag__oval--dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #016BFF;
    border-radius: 50%;
    left: 12px;
    top: 12px;
    transition: 0.2s linear in;
}
.animateTag .mpTag__oval--dot {
    left: 42px;
    top: 0px;
    transition: 2s linear in;
}
.animateTag  .mpTag__text {
    transform: translateY(20px);
    transition: 2s linear in;
}
.mpBanner figure {
    margin-bottom: 50px;
    float: left;
    width: 100%;
    height: auto;
}
.mpBanner figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media (max-width:1400px) {
    .mpMainhead {
        max-width: 276px;
        top: -251px;
    }
    .mpMainhead h1 {
        font-size: 5rem;
        line-height: 60px;
    }
    .mpMainhead h3 {
        font-size: 2rem;
    }
    .mpBanner {
        max-width: calc(100% - 320px);
    }
    .mpSubheads {
        max-width: calc(100% - 320px);
    }
    .mpLink {
        font-size: 5rem;
    }
    .mpMainhead.animate {
        transform: translateY(170px);
    }
} 
@media (max-width:991px) {
    .wrapper {
        padding: 50px 30px;
    }
    .mpBanner {
        max-width: 100%;
        margin: 10px 0px;
    }
}
@media (max-width:767px) {
    .mpBanner {
        max-width: 100%;
        margin: 10px 0px;
    }
    .mpHeaderpanel {
        padding-top: 100px;
    }
    .mpMainhead {
        max-width: 178px;
        top: 2px;
        left: 0px;
    }    
    .mpSubheads {
        max-width: calc(100% - 198px);
    }
    .mpMainhead h1 {
        font-size: 3.2rem;
        line-height: 40px;
    }
    .mpMainhead h3 {
        font-size: 1.5rem;
    }
    .mpLink {
        font-size: 3.2rem;
    }
    .mpMainhead.animate {
        transform: translateY(-59px);
        transition: 0.5s linear;
    }
    .mpTag {
        margin-left: 00px;
    }
}